# API
API_PORT=8080
FRONTEND_ORIGIN=http://localhost:3000,http://localhost:5173

# PostgreSQL
DB_PORT=5433
DB_NAME=crud_academia
DB_USER=academia_user
DB_PASSWORD=academia_pass
DB_DRIVER=org.postgresql.Driver

# Solo para ejecucion local fuera de Docker
DB_URI=jdbc:postgresql://localhost:5433/crud_academia
